html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"),
    url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  /* glob */
  --color-default: #000;
  --color-light: #fff;
  --color-grey: #cacaca;
  --color-focus: #f90;
  --color-hover: #f90;
  --color-active: #e1670e;

  --color-light-btn: #fff;
  --color-dark-btn: #000;
  --color-default-btn: #f90;
  --color-focus-btn: #ffb84d;
  --color-hover-btn: #ffb84d;
  --color-active-btn: #e1670e;

  /* header */
  --shadow-color: rgba(0, 0, 0, 0.1);
  --color-active-svg: #000;

  /* about-us */
  --color-focus-btn-about-us: #f90;
  --color-hover-btn-about-us: #f90;
  --color-active-btn-about-us: #e1670e;

  /* stages */
  --color-default-btn-white: #000;
  --color-light-btn-white: #fff;
  --color-focus-btn-white: #666;
  --color-hover-btn-white: #666;
  --color-active-btn-white: #000;

  /* footer */
  --color-focus-form: #666;
  --color-hover-form: #666;
  --color-active-form: #666;


  --gap: 32px;
}

.page {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: normal;
  min-width: 320px;
}

/* glob */
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  border-radius: 16px;
  padding: 19px 38px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-light-btn);
  background-color: var(--color-default-btn);
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.btn:focus {
  background-color: var(--color-focus-btn);
}

.btn:hover {
  background-color: var(--color-hover-btn);
}

.btn:active {
  background-color: var(--color-active-btn);
}

.btn--size {
  padding: 25px 39px;
  font-size: 23px;
}

.btn--color {
  padding: 19px 37px 19px 38px;
  border: 1px solid var(--color-dark-btn);
  background-color: var(--color-light-btn);
  font-weight: 400;
  color: var(--color-dark-btn);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn--color:focus {
  color: var(--color-light-btn-white);
  border-color: var(--color-focus-btn-white);
  background-color: var(--color-focus-btn-white);
}

.btn--color:hover {
  color: var(--color-light-btn-white);
  border-color: var(--color-hover-btn-white);
  background-color: var(--color-hover-btn-white);
}

.btn--color:active {
  color: var(--color-light-btn-white);
  border-color: var(--color-active-btn-white);
  background-color: var(--color-active-btn-white);
}

.section-title {
  margin: 0;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-default);
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-default);
}

.container {
  max-width: 1870px;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

/* header */
.header {
  padding: 14px 0;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px 0 var(--shadow-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  margin-right: auto;
}

.logo:focus {
  outline: 2px solid var(--color-focus);
}

.header__nav {
  margin-right: 87px;
}

.nav__list {
  display: flex;
  gap: 85px;
}

.nav__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-default);
  transition: color 0.2s ease-in-out;
}

.nav__link:focus {
  outline-offset: 4px;
  outline: 2px solid var(--color-focus);
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.nav__link:hover {
  outline: none;
}

.nav__link:hover::after {
  background-color: var(--color-hover);
  opacity: 1;
}

.nav__link:active {
  color: var(--color-active);
  outline: none;
}

.nav__link:active::after {
  background-color: var(--color-active);
}
.header__nav-btn {
  display: flex;
}

.header__nav-btn svg {
  fill: var(--color-default);
  transition: fill 0.3s ease-in-out;
}

.header__nav-btn path {
  fill: transparent;
  stroke: var(--color-default);
  transition: stroke 0.3s ease-in-out;
}

.header__nav-btn:focus {
  outline: 2px solid var(--color-focus);
}

.header__nav-btn:hover svg {
  fill: var(--color-hover);
}

.header__nav-btn:hover path {
  stroke: var(--color-hover);
}

.header__nav-btn:active {
  outline: none;
}

.header__nav-btn:active svg {
  fill: var(--color-active-svg);
}

.header__nav-btn:active path {
  stroke: var(--color-active-svg);
}

/* hero */
.hero {
  padding-top: 50px;
  padding-bottom: 25px;
}

.hero__wrapper {
  padding: 100px 80px;
  border-radius: 32px;
  background-image: url("../img/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0;
  margin-bottom: 24px;
  max-width: 837px;
  font-weight: 800;
  font-size: 70px;
  color: var(--color-light);
}

.hero__descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 790px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-light);
}

/* about-us */
.about-us {
  padding-top: 25px;
  padding-bottom: 50px;
}

.about-us__title {
  margin-bottom: 22px;
}

.about-us__text {
  max-width: 1235px;
  margin-bottom: 48px;
}

.about-us__card-wrapper {
  display: flex;
  --offsets: 1;
  gap: var(--gap);
}

.about-us__card-left {
  display: flex;
  align-items: flex-end;
  width: calc((100% - var(--offsets) * var(--gap)) / (var(--offsets) + 1));
  /* width: calc(868 / 1770 * 100%); */
  min-height: 622px;
  border-radius: 32px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/about-us-bg.png");
}

.about-us__card-descr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  width: 100%;
  border-radius: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-us__card-descr-text {
  margin-right: 25px;
  font-weight: 700;
  font-size: 16px;
  max-width: 433px;
  line-height: 32px;
  color: var(--color-light);
}

.about-us__card-descr-btn {
  border: 3px solid var(--color-default-btn);
  padding: 18px 36px;
  background-color: transparent;
  color: var(--color-light-btn);
  transition: background-color 0.3s ease-in-out;
}

.about-us__card-descr-btn:focus {
  background-color: var(--color-focus-btn-about-us);
}

.about-us__card-descr-btn:hover {
  background-color: var(--color-hover-btn-about-us);
}

.about-us__card-descr-btn:active {
  background-color: var(--color-active-btn-about-us);
  border: 3px solid var(--color-active-btn-about-us);
}

.about-us__card-right {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: calc((100% - var(--offsets) * var(--gap)) / (var(--offsets) + 1));
  /* width: calc(870 / 1770 * 100%); */
}

.about-us__card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 295px;
  border: 1px solid var(--color-grey);
  border-radius: 32px;
  padding: 64px 115px 63px 299px;
  background-repeat: no-repeat;
  background-position: 59px center;
}

.about-us__card--img1 {
  background-image: url("../img/about-us-image-1.svg");
}

.about-us__card--img2 {
  background-image: url("../img/about-us-image-2.svg");
}

.about-us__card-title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-default);
}

.about-us__card-text {
  text-align: left;
}

/* stages */
.stages {
  --offsets: 1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.stages__wrapper {
  display: flex;
  justify-content: space-between;
}

.stages__wrapper::after {
  content: "";
  width: calc((100% - var(--offsets) * var(--gap)) / (var(--offsets) + 1));
  min-height: 460px;
  border-radius: 32px;
  background-image: url("../img/stages-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateY(6px);
}

.stages__content {
  width: calc((100% - var(--offsets) * var(--gap)) / (var(--offsets) + 1));
}

.stages__content-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: var(--color-default);
}

.stages__content-text {
  max-width: 758px;
  margin-bottom: 18px;
}

.stages__btns {
  display: flex;
  gap: var(--gap);
}

/* questions */
.questions {
  padding-top: 50px;
  padding-bottom: 100px;
}

.questions__list {
  --offsets: 2;
  display: flex;
  gap: var(--gap);
}

.questions__item {
  padding: 63px 59px 64px 60px;
  border: 1px solid var(--color-grey);
  border-radius: 32px;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.questions__item-title {
  margin: 0;
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-default);
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--color-default);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 252px;
  margin-right: 113px;
}

.footer__logo {
  display: flex;
  margin-bottom: 20px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 200%;
  color: var(--color-grey);
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline-offset: 3px;
  outline: 2px solid var(--color-focus);
}

.footer__link:hover {
  color: var(--color-hover);
}

.footer__link:active {
  outline: none;
  color: var(--color-active);
}

.footer__social-list {
  display: flex;
  gap: 25px;
}

.footer__social-link {
  display: flex;
}

.footer__social-link svg {
  fill: #666;
  transition: fill 0.3s ease-in-out;
}

.footer__social-link:focus {
  outline: 2px solid var(--color-focus);
}

.footer__social-link:hover svg {
  fill: var(--color-hover);
}

.footer__social-link:active {
  outline: none;
}

.footer__social-link:active svg {
  fill: var(--color-active);
}

.footer__feedback {
  max-width: 570px;
  width: 100%;
}

.feedback__title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 48px;
  color: var(--color-grey);
  text-align: left;
}

.footer__about {
  display: flex;
  align-items: center;
}

.footer__about-text {
  max-width: 363px;
  color: var(--color-grey);
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.feedback__input {
  padding: 14px 25px;
  line-height: 200%;
  border: none;
  border-radius: 16px;
  background-color: #414141;
  color: var(--color-grey);
  transition: background-color 0.3s ease-in-out;
}

.feedback__input:focus {
  outline: none;
  background-color: var(--color-focus-form);
}

.feedback__input:hover {
  background-color: var(--color-hover-form);
}

.feedback__input:active {
  color: var(--color-light);
  background-color: var(--color-active-form);
}

.feedback__input--textarea {
  height: 150px;
  margin-bottom: 7px;
}

.feedback__submit-btn {
  padding: 20px 53px;
}

.feedback__form-bottom {
  display: flex;
  align-items: center;
  gap: 22px;
}

.feedback__label {
  user-select: none;
  cursor: pointer;
}

.feedback__checkbox:checked + .feedback__checkbox-text::after {
  opacity: 1;
}

.feedback__checkbox:focus + .feedback__checkbox-text::before {
  outline-offset: 2px;
  outline: 2px solid var(--color-focus);
}

.feedback__checkbox-text {
  position: relative;
  padding-left: 17px;
  color: var(--color-grey);
}

.feedback__checkbox-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 1px solid var(--color-grey);
  transform: translateY(-50%);
}

.feedback__checkbox-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  background-image: url("../img/feedback-ok.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}



